{% extends 'base.html.twig' %}

{% block title %}Liste d'articles{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 mb-2 border bg-dark text-white round">
                {% if data_id != null %}
                    <p class="h4 text-center mt-3"><b>Fiche produit</b></p>
                    <p class="h4 mt-3">Nom : <b>{{ data_name }}</b></p>
                    <hr/>
                    <p class="h4">Description :</p>
                    <div class="border mt-3 mb-3 pad round">
                        <small><b>{{ data_description }}</b></small>
                    </div>
                    <p class="h4">Prix : <b>{{ data_price }}</b> €</p>
                    <hr/>
                    <p class="h4 mb-3">Quantitée(s) : <b>{{ data_qte }}</b> en stock</p>
                    <hr/>
                    <p class="h4 mb-3 text-center">Créer le <b>{{ data_createdAt | date('d/m/Y') }}</b> à <b>{{ data_createdAt | date('H:i:s') }}</b></p>
                    <hr/>
                    <a href="{{ path('app_modify', { "id": data_id } ) }}"><button class="btn btn-warning right mb-3">Modifier</button></a>
                {% else %}
                {% endif %}
            </div>
            <div class="col-12 mt-5 mb-5">
                <table class="table-responsive text-center table  mb-5 display" id="table_articles">
                    <div class="col-xl-4 offset-xl-4 col-lg-7 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-xs-12">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Id</th>
                            <th scope="col">Produit</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date de création</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in dataTable  %}
                            <tr>
                                {% if data.qte == 0 %}
                                    <!-- Effacer <td></td> et laisser cette partie vide afin de faire disparaitre la zone d'affichage-->
                                    <td scope="row" id="tooltip" data-toggle="tooltip" data-placement="top" title="cliquer pour modifier">
                                        <a href="{{ path('app_modify', { "id": data.id } ) }}">
                                            <button class="btn btn-sm btn-warning">
                                                Modifier
                                            </button>
                                        </a>
                                    </td>
                                    <td scope="row"></td>
                                    <td scope="row"></td>
                                    <td scope="row"></td>
                                    <td scope="row"><a href="{{ path('app_modify', { "id": data.id } ) }}"><span class="text-danger">Rupture de Stock</span></a></td>
                                    <td scope="row"></td>
                                    <td scope="row"></td>
                                {% else %}
                                    <td scope="row">
                                        <input type="hidden" value="{{ data.id }}" id="data_id" name="data_id" />
                                        <a href="{{ path('app_home_id', {'id': data.id}) }}" class="btn btn-link id_show"  id="tooltip" data-toggle="tooltip" data-placement="top" title="cliquer pour consulter la fiche produit">
                                                <span class="btn btn-info btn-sm" data-toggle="modal" data-target="#popup">
                                                    Voir
                                                </span>
                                        </a>
                                        <a href="{{ path('app_modify', { "id": data.id } ) }}"  id="tooltip" data-toggle="tooltip" data-placement="top" title="cliquer pour modifier"><button class="btn btn-warning btn-sm">Modifier</button></a>
                                    </td>
                                    <td scope="row">{{ data.id}}</td>
                                    <td scope="row">{{ data.name }}</td>
                                    <td scope="row">{{ data.price }} €</td>
                                    <td scope="row">{{ data.qte }}</td>
                                    <td scope="row" id="tooltip" data-toggle="tooltip" data-placement="top" title="{{ data.description }}"><small>{{ data.description | truncate(55) | raw }}</small></td>
                                    <td scope="row">{{ data.createdAt |date('d/m/Y H:i:s') }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </div>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="popup" class="modal fade" role="dialog">
        <div class="modal-dialog">
            {% if data_article != 'null' %}
                {% for data_article in data_article %}
                    <!-- Modal content-->
                    <div class="modal-content" id="show_popup">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ data_article.name }}</h4>
                            <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <p>Déscription :</p>
                                <small><b>{{ data_article.description }}</b></small>
                            </div>
                            <hr/>
                            <p>Quantité = <b>{{ data_article.qte }}</b></p>
                            <p>Prix = <b>{{ data_article.price }} €</b></p>
                            <p>Créer le <b>{{ data_article.createdAt | date('d/m/Y') }}</b> à <a>{{ data_article.createdAt | date('H:i:s') }}</a></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                            <a href="{{ path('app_modify', { "id": data_article.id } ) }}"><button class="btn btn-warning">Modifier</button></a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnId(event) {
            event.preventDefault();
            const url = this.href;
            axios.get(url).then(function (response) {
                $(window).load(function() {
                    $('#popup').modal('show');
                });
            }).catch(function (error) {
                if(error.response.status === 403) {
                    window.alert("Une erreur est survenue")
                }else{
                    window.alert("Une erreur s'est produite, merci de réessayez plus tard")
                }
            })
        }
        document.querySelector('.id_show').forEach(function (link) {
            link.addEventListener('click', onClickBtnId);
        })
    </script>
{% endblock %}

